# Frontend Client (Angular + Nginx)
- type: web
  name: youtube-transcript-client
  runtime: docker
  dockerContext: .
  dockerfilePath: Dockerfile
  dockerTarget: client
  plan: free
  envVars:
    - key: BACKEND_URL
      value: https://youtube-transcript-server.onrender.com/api
    - key: PORT
      value: 80 # Render will override this, but it helps local debugging

# Backend Server (NestJS)
- type: web
  name: youtube-transcript-server
  runtime: docker
  dockerContext: .
  dockerfilePath: Dockerfile
  dockerTarget: server
  plan: free
  envVars:
    - key: PORT
      value: 3000
  disk:
    name: transcripts
    mountPath: /app/transcripts
    sizeGB: 1
