# Frontend Client (Angular + Nginx)
- type: web
  name: youtube-transcript-client
  runtime: docker
  dockerContext: .
  dockerfilePath: Dockerfile
  dockerTarget: client
  plan: free
  envVars:
    - key: BACKEND_URL
      value: https://youtube-transcript-server.onrender.com
    - key: PORT
      value: 80 # Render will override this, but it helps local debugging
